{
	"env": {
		"browser": true,
		"commonjs": true,
		"es6": true,
		"node": true	
	},
	"globals": {
		"document": false
	},
    "parser": "babel-eslint",
    "parserOptions": {
	    "ecmaFeatures": {
		    "experimentalObjectRestSpread": true,
		    "jsx": true
	    },
	    "sourceType": "module"
    },
    "plugins": [
		"react"  
    ],
    "rules": {
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
