{
	"env": {
		"browser": true,
		"node": true	
	},
	"globals": {
		"document": false
	},
    "parser": "babel-eslint",
    "plugins": [
		"react"  
    ],
    "rules": {
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"]
}
