@keyframes rainbow {
	0% {
		color: $red;
	}

	10% {
		color: $orange;
	}

	20% {
		color: $yellow;
	}

	30% {
		color: $green;
	}

	50% {
		color: $teal;
	}

	60% {
		color: $cyan;
	}

	70% {
		color: $blue;
	}

	80% {
		color: $indigo;
	}

	90% {
		color: $purple;
	}

	100% {
		color: $pink;
	}
}