body {
	background: $body-background-color;
}

header {
	.heading {
		width: 100%;
		color: $header-heading-color;
		font-size: $header-heading-font-size;
		font-family: $header-heading-font;
		text-align: center;
		text-transform: lowercase;
		letter-spacing: $header-heading-letter-spacing;
		font-weight: bold;
		font-style: italic;
	}
}

main {
	background-color: $main-background-color;
}

footer {
	color: $footer-text-color;
	text-align: center;
}