body {
	background: $body-background-color;
	font-family: $font-family-sans-serif;
}

header {
	.heading {
		margin: -20px 0;
		width: 100%;
		color: $header-heading-color;
		font-size: 4em;
		font-family: $header-heading-font;
		text-align: center;
		text-transform: lowercase;
		letter-spacing: $header-heading-letter-spacing;
		
		@include media-breakpoint-up(sm) {
			font-size: 5em;
		}
		
		@include media-breakpoint-up(md) {
			font-size: 6em;
		}
		
		@include media-breakpoint-up(lg) {
			font-size: 7em;
		}
	}
}

main {
	min-height: 70vh;
	background-color: $main-background-color;
}

footer {
	color: $footer-text-color;
	text-align: center;
}