.timeline {
	position: relative;
	padding: $timeline-padding 0;

	&:after {
		content: '';
		position: absolute;
		width: $timeline-line-width;
		background-color: $body-color;
		top: 0;
		left: 1.5rem;
		bottom: 0;
		margin-left: -($timeline-line-width / 2);
	}

	@include media-breakpoint-up(md) {
		&:after {
			content: '';
			position: absolute;
			width: $timeline-line-width;
			background-color: $body-color;
			top: 0;
			left: 50%;
			bottom: 0;
			margin-left: -($timeline-line-width / 2);
		}
	}

	li {
		@include clearfix();
		list-style-type: none;

		&:last-of-type {
			.column {
				margin-bottom: 0;
			}
		}
	}

	.column {
		position: relative;
		margin-bottom: $timeline-padding;
		padding-left: $timeline-mobile-padding;
		padding-right: 0;

		&:before {
			content: '';
			position: absolute;
			top: $timeline-mobile-padding;
			left: $timeline-arrow-mobile-offset;
			border: $arrow-border-size solid $white;
			border-color: $left-arrow-border-color;
			transform: rotate(45deg);
			box-shadow: $left-arrow-box-shadow;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: $timeline-mobile-padding - 0.2rem;
			left: $timeline-marker-mobile-offset;
			width: $marker-size;
			height: $marker-size;
			background-color: $marker-fill-color;
			border: $marker-border-width solid $marker-border-color;
			border-radius: 50%;
			z-index: 1;
		}

		@include media-breakpoint-up(md) {
			padding-left: 0;
			padding-right: $timeline-padding;

			&:before {
				left: auto;
				right: $timeline-arrow-offset;
				border-color: $right-arrow-border-color;
				box-shadow: $right-arrow-box-shadow;
			}

			&:after {
				left: auto;
				right: $timeline-marker-offset;
			}
		}
	}

	> :nth-child(even) {	
		.column {
			float: right;

			@include media-breakpoint-up(md) {
				padding-left: $timeline-padding;
				padding-right: 0;

				&:before {
					left: $timeline-arrow-offset;
					right: auto;
					border-color: $left-arrow-border-color;
					box-shadow: $left-arrow-box-shadow;
				}

				&:after {
					left: $timeline-marker-offset;
					right: auto;
				}
			}
		}
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
	}

	.duration {
		@extend .text-muted;
		margin-bottom: $headings-margin-bottom;
	}

	.icons {
		float: right;
	}

	// If there is no event duration subheading present
	.description:first-child {
		margin-top: $headings-margin-bottom;
	}
}