.timeline {
	padding-top: $timeline-padding;
	padding-left: 0;

	li {
		@include clearfix();
		list-style-type: none;
	}

	.column {
		margin-bottom: $timeline-padding;
		padding-left: $timeline-mobile-padding;
		padding-right: 0;

		@include media-breakpoint-up(md) {
			padding-left: 0;
			padding-right: $timeline-padding;
		}
	}

	> :nth-child(even) {	
		.column {
			float: right;

			@include media-breakpoint-up(md) {
				padding-left: $timeline-padding;
				padding-right: 0;
			}
		}
	}

	h3 {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;

		&.duration {
			@extend .text-muted;
			margin-bottom: 0.5rem;
		}
	}

	.icons {
		float: right;
	}

	// If there is no event duration subheading present
	.description:first-child {
		margin-top: 0.5rem;
	}
}