h1, h2, h3 {
	font-weight: $heading-font-weight;
}

a:hover {
	text-decoration: none;
}

dl {
	dd {
		margin-bottom: $list-margin;
	}

	> :last-child dd {
		margin-bottom: 0;
	}
}

.contact-list {
	padding-left: 0;
	
	li {
		list-style-type: none;
	}
}