h1, h2 {
	font-weight: $heading-font-weight;
}

.no-route {
	text-align: center;

	span {
		display: block;
		color: $red;
		font-size: 4em;
		animation-name: rainbow;
		animation-duration: 4s;
		animation-iteration-count: infinite;
	}
}

a:hover {
	text-decoration: none;
}

dl {
	dd {
		margin-bottom: $list-margin;
	}

	> :last-child dd {
		margin-bottom: 0;
	}
}

.contact-list {
	padding-left: 0;
	
	li {
		list-style-type: none;
	}
}