h1, h2 {
	font-weight: $heading-font-weight;
}

.no-route {
	text-align: center;

	span {
		display: block;
		color: $red;
		font-size: 4em;
		text-shadow:
			-2px -2px 0 $body-color,
			2px -2px 0 $body-color,
			-2px 2px 0 $body-color,
			2px 2px 0 $body-color;
		animation-name: rainbow;
		animation-duration: 10s;
		animation-delay: 0.5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}
}

a:hover {
	text-decoration: none;
}

dl {
	dd {
		margin-bottom: $list-margin;
	}

	> :last-child dd {
		margin-bottom: 0;
	}
}

.contact-list {
	padding-left: 0;
	padding-bottom: $container-padding;
	
	li {
		list-style-type: none;
	}
}