// Colours
$grey-light: #e5e5e5;

$box-shadow: 1px 1px 5px $grey-light;

// Body
$container-padding: 1rem;
$container-margin: 1rem;
$divider-border: 0.05rem $grey-light solid;
$content-min-height: 55vh;

// Header
$header-font-size: 2em;
$header-font-weight: 500;

// Navigation
$nav-link-margin: 1rem;
$nav-link-padding: 0.5rem;
$nav-link-active-color: $white;

// Icons
$icon-font-size: 1.25em;
$devicon-size: 4em;
$devicon-margin: 0.5rem auto;
$timeline-icon-size: 1.5em;
$timeline-icon-margin: 0.5rem;

$devicons-list:
	'amazonwebservices-original',
	'apache-plain',
	'babel-plain',
	'bootstrap-plain',
	'css3-plain',
	'git-plain',
	'github-original',
	'html5-plain',
	'java-plain',
	'jquery-plain',
	'mysql-plain',
	'nginx-original',
	'oracle-original',
	'photoshop-plain',
	'php-plain',
	'phpstorm-plain',
	'react-original',
	'sass-original',
	'sourcetree-original',
	'ubuntu-plain',
	'vim-plain',
	'webpack-plain';

// Typography
$heading-font-weight: 300;
$list-margin: 0.5rem;

// Timeline
$timeline-padding: 1.5rem;
$timeline-mobile-padding: 3rem;
$timeline-line-width: 6px;

$timeline-arrow-offset: 15px;
$timeline-mobile-arrow-offset: 39px;

$left-arrow-border-width: 10px 10px 10px 0;
$left-arrow-border-color: transparent $white transparent transparent;

$right-arrow-border-width: 10px 0 10px 10px;
$right-arrow-border-color: transparent transparent transparent $white;