// Colours
$grey-light: #e5e5e5;

// Body
$container-padding: 1.5rem;
$container-margin: 2rem;
$divider-border: 0.05rem $grey-light solid;

// Navigation
$nav-link-margin: 1rem;
$nav-link-padding: 0.5rem;